section {
    padding-bottom: 4em;
}

table {
    width: 100%;
}

h2 {
    margin: 2em 0 0 0;
    font-size: 1.25em;
    color: #f26152;
    text-align: center;
}

caption {
    padding-top: 3em;
    line-height: 1.5em;
    font-weight: 400;
    color: #304183;
    text-align: center;
}

td {
    height: 2em;
    line-height: 2em;
}

td.time {
    width: 40%;
    text-align: right;
}

td.time + td {
    text-indent: 1em;
}
