#loader {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ebe5c3;
    z-index: 999;
}

#loader-container {
    position: relative;
    width: 200px;
    height: 200px;
    top: 50%;
    margin: -100px auto 0 auto;
}
