<h2>Samedi 3 août 2019</h2>

<table>
    <caption>Cérémonie religieuse</caption>
    <tr>
        <td class="time">14h30</td>
        <td>Arrivée des convives</td>
    </tr>
    <tr>
        <td class="time">15h00</td>
        <td>Début de la messe</td>
    </tr>
    <tr>
        <td class="time">16h10</td>
        <td>Sortie des mariés</td>
    </tr>
</table>

<table>
    <caption>Réception au Château de la Ligne</caption>
    <tr>
        <td class="time">18h00</td>
        <td>Cocktails</td>
    </tr>
    <tr>
        <td class="time">20h00</td>
        <td>Dîner dans l'orangerie</td>
    </tr>
    <tr>
        <td class="time">22h00</td>
        <td>Fête & danse (DJ set)</td>
    </tr>
    <tr>
        <td class="time">&nbsp;</td>
        <td>Bar de nuit</td>
    </tr>
    <tr>
        <td class="time">4h00</td>
        <td>Fin</td>
    </tr>
</table>
