#guest_list {
    margin: .5em 0 0 0;
    border: 2px #dddddd solid;
    border-radius: .2em;
}

#guest_list legend {
    margin: 0 auto;
    padding: 0 .5em;
    font-size: .9em;
    color: #aaaaaa;
}

#guest_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#guest_list li {
    margin: .5em 0;
}
