<img src="assets/img/ntdame.jpg" class="left" alt="Église Notre-Dame de Bordeaux">
<h2>Église Notre-Dame</h2>
<p>
    L'église Notre-Dame de Bordeaux a été construite dans un style baroque à la fin du XVIIe siècle. Située place du
    Chapelet, au coeur du “Triangle d'Or” de la ville, elle se trouve à proximité du magnifique Grand Théâtre de
    Bordeaux.
</p>
<p>
    L'église est classée monument historique le 18 mai 1908. Le buffet de son orgue est également classé depuis le 12
    janvier 1971. Elle possède une acoustique remarquable qui attire chaque année de nombreux concerts et récitals.
</p>
<p>
    <br>
    <a class="button"
       href="https://www.google.fr/maps/place/%C3%89glise+Notre-Dame/@44.8425868,-0.5787666,17z/data=!3m1!4b1!4m5!3m4!1s0xd5527dbbf8e9635:0x9f8287871868e2ad!8m2!3d44.842583!4d-0.5765779"
       target="_blank">
        <i class="fas fa-map"></i> &nbsp; Plan
    </a>
</p>
<br style="clear: both"><br>

<img src="assets/img/laligne.jpg" class="right" alt="Château de la Ligne à Lignan-de-Bordeaux">
<h2>Château de la Ligne</h2>
<p>
    Situé sur la commune de Lignan de Bordeaux, à 30 minutes en voiture de l'église Notre-Dame, le château de la Ligne
    fut érigé au XVIIIème siècle sur les ruines d'un ancien monastère du XIIème siècle.
</p>
<p>
    Racheté en l'an 2000 par un businessman irlandais, le château est redevenu un domaine viticole grâce à la
    replantation de 11 hectares de vignes et à son ambition unique de rétablir le château de la Ligne comme un joyau de
    l'appellation Bordeaux.
</p>
<p>
    Outre le vignoble, le château de la Ligne propose aussi un site exceptionnel associant une architecture classique à
    des jardins entretenus avec soin et à une vue paisible sur les vignes dont vous pourrez profiter lors du cocktail si
    le temps nous le permet.
</p>
<p>
    La réception se tiendra, quant à elle, dans l'Orangerie, superbe galerie ornée de 10 fenêtres gothiques inondant la
    pièce d'une belle lumière naturelle.
</p>
<p>
    <br>
    <a class="button"
       href="https://www.google.fr/maps/place/Ch%C3%A2teau+de+la+Ligne/@44.811604,-0.5219468,12.59z/data=!4m7!3m6!1s0xd553b168e6661cd:0x6ea0ce077be658d9!5m1!1s2018-09-18!8m2!3d44.802385!4d-0.431304"
       target="_blank">
        <i class="fas fa-map"></i> &nbsp; Plan
    </a>
</p>
<br><br>
