<video class="right load" onloadedmetadata="this.muted = true" oncanplay="this.play()" muted loop playsinline>
    <source src="assets/video/bea.mp4" type="video/mp4">
</video>
<h2>
    &mdash; &laquo; Le plus beau voyage, c'est celui qu'on a pas encore fait... &raquo; <span>Loïck Peyron</span>
</h2>
<p>
    Nous avons forgé d'incroyables souvenirs emprunts de joie et de bonheur au fil de nos précédents voyages.
</p>
<p>
    Au coeur des jungles luxuriantes de Bali, sur les sublimes plages de Ko Phi Phi, le long des canaux
    romantiques d'Amsterdam ou enfouis au coeur de la pyramide Rouge de Dahchour : nous ne boudons pas
    notre plaisir lorsque nous visitons notre si belle planète.
</p>
<img src="assets/img/hm_kophiphi.jpg" class="left">
<p>
    Aussi, pour notre lune de miel, nous avons décidé de partir loin, très loin, à l'autre bout du monde,
    quelque part en Amérique du Sud ! Nous espérons y croiser les sourires de ces beaux peuples fiers,
    parcourir des paysages improbables et colorés, goûter aux plaisirs de la terre !
</p>
<p>
    Si vous souhaitez contribuer à la réalisation de ce voyage unique, nous vous proposons de nous aider à le
    financer. Nous n'avons pas souhaité mettre en place une <i>&laquo; liste de mariage &raquo;</i> car nous ne
    manquons de rien ; contrairement à certains jeunes couples, nous sommes déjà bien installés.
</p>
<p>
    A vrai dire, il n'y a pas grand chose de matériel qui nous ferait plus plaisir que ce voyage !
</p>
<br style="clear: both">
<img src="assets/img/hm_egypt.jpg" class="right">
<p>
    Vous êtes libre de contribuer à notre voyage de noces quand bon vous semble :
</p>
<ul>
    <li>
        avant ou après la journée du mariage, vous pouvez envoyer vos contributions sur ce site Internet (le
        transfert est sécurisé par la technologie <a href="https://stripe.com/about" target="_blank">Stripe</a>)
    </li>
    <li>
        pendant le mariage, vous pourrez remettre votre contribution dans une urne prévue à cet effet
    </li>
    <li>
        ... ou pas du tout : votre participation est optionnelle !
    </li>
</ul>
<p>
    Nous vous remercions pour vos contributions quelqu'en soit le montant ! Nous espérons pouvoir voyager au
    bout du monde grâce à votre générosité. Nous ne manquerons pas de partager les meilleurs moments de ce
    voyage avec vous.
</p>
<p>
    Béatrice & Brice
</p>
<br style="clear: both">
<form (ngSubmit)="pay()">
    <h2>Votre don</h2>
    <div class="field text">
        <input [(ngModel)]="amount" [ngModelOptions]="{standalone: true}" id="amount"
               autocomplete="off"
               type="number"
               min="1"
               pattern="\d*"
               required>
        <label for="amount">Montant en €</label>
    </div>
    <button type="submit" class="donate">Donner</button>
</form>
